<section id="sobre-nosotros">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img ngOptimizedImage src="HISTORIA_NUEVA.webp" alt="Iglesia" class="img-fluid rounded shadow-sm"
                    width="2560" height="1440">
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <h2 class="mb-3">Nuestra Historia</h2>
                <p class="history">
                    La Iglesia El Edén fue fundada en 1974 en el barrio Torices de Cartagena por los pastores
                    Napoleón Salguedo y Olímpia Martínez, tras un llamado de Dios y el respaldo de la Iglesia El
                    Edén de Nueva York. Con campañas evangelísticas y el crecimiento de sus miembros, la iglesia
                    pasó por varias sedes hasta que en 1995 adquirió el terreno donde funciona actualmente. Hoy
                    damos gloria a Dios por Su obra y por el esfuerzo de nuestros pastores y hermanos que han
                    apoyado este ministerio con fe y compromiso.

                </p>
                <h3 class="mt-4">Nuestra Visión</h3>
                <p class="vision">
                    Somos una generación de hombres y mujeres constituidos bíblicamente como ministros de
                    Jesucristo, para impartir el evangelio de nuestro señor de manera integral en Cartagena,
                    Colombia y las naciones del mundo.
                </p>
                <h3 class="mt-4">Nuestra Misión</h3>
                <p class="mission">
                    Establecer un pueblo que ame, obedezca y adore a Dios, equipándolos con herramientas para que
                    produzcan un impacto integral en nuestra ciudad, en toda Colombia y en las naciones del mundo,
                    de tal manera que los no cristianos puedan ver a cada uno de nuestros creyentes, el amor de Dios
                    y el testimonio del evangelio, para que se conviertan al señor Jesucristo y le sirvan a Dios en
                    su iglesia local.
                </p>
            </div>
        </div>
    </div>
</section>