* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #082346;
}

section {
    padding: 60px 0;
}

.bg-azulmarino {
    background-color: #082346;
    color: #fff !important;
}