<section id="horarios">
    <div class="container">
        <div class="text-center mb-5">
            <h2>Horarios de nuestros servicios en la Iglesia El Edén</h2>
            <p class="lead">¡Te esperamos con los brazos abiertos!</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Culto de Unción y Milagros:</strong>
                        <span>Miércoles 6:30 PM</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Ayuno Congregacional:</strong>
                        <span>Sábados 9:00 AM</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Culto de Jóvenes:</strong>
                        <span>Sábados 5:30 PM</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Escuelas Dominicales:</strong>
                        <span>8:30 AM</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Escuelas Dominicales:</strong>
                        <span>10:30 AM</span>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>